* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#react-entry-point {
    height: 100%;
}

#parent {
    height: 100%;
    background-color: #FFFACD;
}


/**************************Side bar**********************************/
.sidebar {
    width: 20%;
    height: 100%;
    overflow: auto;
    position: fixed;
    background-color: #46C7C7;
    text-align: center;
}

.sidebar img {
    display: block;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.dropdown-labels {
    margin: 20px;
    font-weight: bold;
}

.dropdown {
    margin-top: 5px;
}


/**************************Main content**********************************/
.main-content {
    height: 100%;
    margin-left: 20%;
}

.right-container {
    width: 100%;
    height: 50%;
}

#total-case-bar {
    height: 80%;
    width: 40%;
    display: inline-block;
    margin: 40px 30px;
}

#total-case-timeline {
    height: 80%;
    width: 45%;
    display: inline-block;
    margin: 40px 20px;
}

#total-case-geo {
    width: 80%;
    height: 100%;
    display: inline-block;
    margin: 0px 50px ;
}
